@model IEnumerable<vercom.Models.Users>
<div class="table-responsive">
    <table class="table table-custom table-centered table-select table-hover w-100 mb-0" id="usuariosTable">
        <thead class="bg-light align-middle bg-opacity-25 thead-sm">
            <tr class="text-uppercase fs-xxs">
                <th class="ps-3 noExport" style="width: 1%;" data-exclude="true">
                    <input data-table-select-all="" class="form-check-input form-check-input-light fs-14 mt-0" type="checkbox" id="select-all-products" value="option">
                </th>
                <th data-table-sort="" data-column="id">ID</th>
                <th data-table-sort="" data-column="nombre">NOMBRE</th>
                <th data-table-sort="" data-column="correo">CORREO</th>
                <th data-table-sort="" data-column="inactivo">INACTIVO</th>
                <th data-table-sort="" data-column="activo">ACTIVO</th>
                <th data-table-sort="" data-column="reg">FECHA DE REGISTRO</th>
                <th data-table-sort="" data-column="lastmod">ULTIMA MODIFICACIÓN</th>
                <th class="text-center noExport" style="width: 1%;">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.UserID" data-id="@item.UserID">
                    <td class="noExport">
                        <input class="form-check-input form-check-input-light fs-14 product-item-check mt-0" type="checkbox" value="@item.UserID">
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.UserID)</td>
                    <td>
                        @Html.ActionLink(item.UserName, "UsersDetails", new { id = item.UserID })
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inactive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsApproved)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModified)
                    </td>
                    <td class="noExport">
                        <div class="d-flex justify-content-center gap-1">
                            <a href="Admin/UsersEdit/@item.UserID" class="btn btn-light btn-icon btn-sm rounded-circle btnEditar"><i class="ti ti-edit fs-lg"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

