@model vercom.Models.Users
@{if (Model != null)
    {
        <div class="col-12">
            <div class="mb-3">
                <label for="UserName" class="form-label">Nombre de usuario <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="UserName" name="UserName" value="@Model.UserName" required="">
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="col-lg-12">
            <div class="mb-3">
                <label for="Email" class="form-label">Correo <span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required="">
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="Inactive" class="form-label">Inactivo </label>
                <select class="form-control" name="Inactive" id="Inactive">
                    <option value="@Model.Inactive" selected>@Model.Inactive</option>                
                </select>
                @Html.ValidationMessageFor(model => model.Inactive)
            </div>            
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="IsApproved" class="form-label">Aprobado </label>
                <select class="form-control" name="IsApproved" id="IsApproved">
                    <option value="@Model.IsApproved" selected>@Model.IsApproved</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                @Html.ValidationMessageFor(model => model.IsApproved)
            </div>
        </div>  
    }
}
