@model IEnumerable<vercom.Models.Users>
@{
    ViewBag.Title = "USUARIOS";
}
<div class="page-title-head d-flex align-items-center">
    <div class="flex-grow-1">
        <h4 class="fs-sm text-uppercase fw-bold m-0">USUARIOS</h4>
    </div>
    <div class="text-end">
        <ol class="breadcrumb m-0 py-0">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index","Home")">VERCOM</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">USUARIOS</a>
            </li>
            <li class="breadcrumb-item active">LISTA</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div data-table="" data-table-rows-per-page="50" class="card" id="bloque-Tproductos">
            <div class="card-header border-light justify-content-between">
                <div class="d-flex gap-2">
                    <div class="app-search">
                        <input data-table-search="" type="search" class="form-control" placeholder="Buscar por nombre...">
                        <i data-lucide="search" class="app-search-icon text-muted"></i>
                    </div>
                    <button data-table-delete-selected="" data-table-delete-url="@Url.Action("DeleteMultipleUsers","Admin")" type="button" class="btn btn-danger btn-icon d-none">
                        <i class="ti ti-trash fs-xl"></i>
                    </button>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <div class="app-search">
                        <select data-table-filter="activo" class="form-select form-control my-1 my-md-0">
                            <option value="">Estado</option>
                            <option value="true">Activo</option>
                            <option value="falso">Inactivo</option>
                        </select>
                        <i data-lucide="tag" class="app-search-icon text-muted"></i>
                    </div>                           
                    <div>
                        <select data-table-set-rows-per-page="" class="form-select form-control my-1 my-md-0">
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex gap-1">
                    <button class="btn btn-secondary btn-icon" id="btnAgregarProducto">
                        <i class="ti ti-plus fs-xxl"></i>
                    </button>
                    <button class="btn btn-success btn-icon" id="btnExportExcel">
                        <i data-lucide="file-spreadsheet" class="fs-lg"></i>
                    </button>
                    <button class="btn btn-info btn-icon" id="btnPrint">
                        <i data-lucide="printer" class="fs-lg"></i>
                    </button>
                </div>
            </div>
            @Html.Partial("_ListUserTable", Model)
            <div class="card-footer border-0">
                <div class="d-flex justify-content-between align-items-center">
                    <div data-table-pagination-info="entradas"></div>
                    <div data-table-pagination=""></div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="modal fade" id="modalAgregarProducto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Agregar producto</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formAgregarProducto">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xxl-8">
                            <div class="card">
                                <div class="card-header d-block p-3">
                                    <h4 class="card-title mb-1">Información del producto</h4>
                                    <p class="text-muted mb-0">
                                        Para agregar un nuevo producto, proporcione los detalles necesarios en los campos a continuación.
                                    </p>
                                </div> <!-- end card-header -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label for="nombre" class="form-label">Nombre del producto <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Entre el nombre del producto" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="cod" class="form-label">Código <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="cod" name="cod" placeholder="SOFA-10058" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="unidadid" class="form-label">Unidad <span class="text-danger">*</span></label>
                                                <div class="app-search">
                                                    <select class="form-select form-control my-1 my-md-0" id="unidadid" name="unidadid">
                                                        @Html.Action("_listunidades", "Parcial")
                                                    </select>
                                                    <i data-lucide="box" class="app-search-icon text-muted"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col-->
                        <div class="col-xxl-4">
                            <div class="card">
                                <div class="card-header d-block p-3">
                                    <h4 class="card-title mb-1">Precios</h4>
                                    <p class="text-muted mb-0">
                                        Establezca el precio y el costo del producto.
                                    </p>
                                </div> <!-- end card-header -->
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="precio" class="form-label">Precio <span class="text-danger">*</span></label>
                                        <div class="app-search">
                                            <input type="text" class="form-control decimalVAL" id="precio" name="precio" step="0.01" placeholder="Precio (Ejemplo, 199,99)" required="">
                                            <i data-lucide="dollar-sign" class="app-search-icon text-muted"></i>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="costo" class="form-label">Costo <span class="text-danger">*</span></label>
                                        <div class="app-search">
                                            <input type="text" class="form-control decimalVAL" id="costo" name="costo" step="0.01" placeholder="Costo (Ejemplo, 99,99)" required="">
                                            <i data-lucide="hand-coins" class="app-search-icon text-muted"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12">
                            <div class="card">
                                <div class="card-header d-block p-3">
                                    <h4 class="card-title mb-1">Organizar</h4>
                                    <p class="text-muted mb-0">
                                        Organice su producto, seleccionando categoría y subcategoría adecuadas.
                                    </p>
                                </div> <!-- end card-header -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="category" class="form-label">Categoría <span class="text-danger">*</span></label>
                                                <div class="app-search">
                                                    <select class="form-select form-control my-1 my-md-0" id="categoriaid" name="categoriaid" required="">
                                                        @Html.Action("_listcategorias", "Parcial")
                                                    </select>
                                                    <i data-lucide="tag" class="app-search-icon text-muted"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="subCategory" class="form-label">Sub Categoría<span class="text-danger"></span></label>
                                                <div class="app-search">
                                                    <select class="form-select form-control my-1 my-md-0" id="areaid" name="areaid">
                                                        @Html.Action("_listareas", "Parcial")
                                                    </select>
                                                    <i data-lucide="tag" class="app-search-icon text-muted"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnGuardarMovimiento" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div> <!-- end modal dialog-->
</div> <!-- end modal-->
<div class="modal fade" id="modalEditarProducto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Editar producto</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formEditarProducto">
                @Html.AntiForgeryToken()
                <input type="hidden" id="Edit_ProductoID" name="Edit_ProductoID" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xxl-8">
                            <div class="card">
                                <div class="card-header d-block p-3">
                                    <h4 class="card-title mb-1">Información del producto</h4>
                                </div> <!-- end card-header -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label for="Edit_Nombre" class="form-label">Nombre del producto <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="Edit_Nombre" name="Edit_Nombre" placeholder="Entre el nombre del producto" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="Edit_Cod" class="form-label">Código <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="Edit_Cod" name="Edit_Cod" placeholder="SOFA-10058" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="Edit_UnidadID" class="form-label">Unidad <span class="text-danger">*</span></label>
                                                <div class="app-search">
                                                    <select class="form-select form-control my-1 my-md-0" id="Edit_UnidadID" name="Edit_UnidadID">
                                                        @Html.Action("_listunidades", "Parcial")
                                                    </select>
                                                    <i data-lucide="box" class="app-search-icon text-muted"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col-->
                        <div class="col-xxl-4">
                            <div class="card">
                                <div class="card-header d-block p-3">
                                    <h4 class="card-title mb-1">Precios</h4>
                                </div> <!-- end card-header -->
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="Edit_Precio" class="form-label">Precio <span class="text-danger">*</span></label>
                                        <div class="app-search">
                                            <input type="text" class="form-control decimalVAL" id="Edit_Precio" name="Edit_Precio" step="0.01" placeholder="Precio (Ejemplo, 199,99)" required="">
                                            <i data-lucide="dollar-sign" class="app-search-icon text-muted"></i>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="Edit_Costo" class="form-label">Costo <span class="text-danger">*</span></label>
                                        <div class="app-search">
                                            <input type="text" class="form-control decimalVAL" id="Edit_Costo" name="Edit_Costo" step="0.01" placeholder="Costo (Ejemplo, 99,99)" required="">
                                            <i data-lucide="hand-coins" class="app-search-icon text-muted"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12">
                            <div class="card">
                                <div class="card-header d-block p-3">
                                    <h4 class="card-title mb-1">Organizar</h4>
                                </div> <!-- end card-header -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="Edit_CategoriaID" class="form-label">Categoría <span class="text-danger">*</span></label>
                                                <div class="app-search">
                                                    <select class="form-select form-control my-1 my-md-0" id="Edit_CategoriaID" name="Edit_CategoriaID" required="">
                                                        @Html.Action("_listcategorias", "Parcial")
                                                    </select>
                                                    <i data-lucide="tag" class="app-search-icon text-muted"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="mb-3">
                                                <label for="Edit_AreaID" class="form-label">Sub Categoría<span class="text-danger"></span></label>
                                                <div class="app-search">
                                                    <select class="form-select form-control my-1 my-md-0" id="Edit_AreaID" name="Edit_AreaID">
                                                        @Html.Action("_listareas", "Parcial")
                                                    </select>
                                                    <i data-lucide="tag" class="app-search-icon text-muted"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label d-block">Estado</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="Edit_Activo" id="radioActivo" value="true">
                                                    <label class="form-check-label" for="radioActivo">Activo</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="Edit_Activo" id="radioInactivo" value="false">
                                                    <label class="form-check-label" for="radioInactivo">Inactivo</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnGuardarMovimiento" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div> <!-- end modal dialog-->
</div> <!-- end modal-->
@section Styles {
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/plugins/toastr/toastr.min.js"></script>
    <script src="~/Scripts/plugins/table2excel/table2excel.js"></script>
    <script src="~/Scripts/custom-table.js"></script>
    <script>
        $(document).ready(function () {
            window.customTable = new CustomTable();  
            document.getElementById("btnExportExcel").addEventListener("click", function () {
                const exporter = new Table2Excel();
                // Clona la tabla para no afectar el original
                let tablaClonada = $("#usuariosTable").clone();
                // Elimina las columnas que no deseas
                tablaClonada.find("th:nth-child(1), td:nth-child(1)").remove(); // 1
                tablaClonada.find("th:nth-child(9), td:nth-child(9)").remove(); // 9
                // Export tabla
                exporter.export(tablaClonada, "listado de usuarios", {
                    exclude: ".noExport",
                    name: "Exportación",
                    filename: "listado de usuarios.xlsx",
                    preserveColors: true
                });

            });
            document.getElementById("btnPrint").addEventListener("click", function () {
                let tablaClonada = $("#usuariosTable").clone();
                tablaClonada.find(".noExport").remove();
                const ventana = window.open('', '', 'height=1080,width=1920');
                ventana.document.write(`
                <html>
                <head>
                <title>Imprimir</title>
                <style>
                body {
                    font-family: 'Segoe UI', Roboto, Arial, sans-serif;
                    margin: 20px;
                    font-size: 13px;
                    color: #2c3e50;
                    background-color: #fdfdfd;
                }
                
                h3 {
                    margin-bottom: 8px;
                    color: #2c3e50;
                    font-size: 18px;
                    border-bottom: 2px solid #3498db;
                    padding-bottom: 4px;
                }
                
                p {
                    margin: 0 0 12px;
                    font-weight: 600;
                    color: #34495e;
                }
                
                table {
                    width: 100%;
                    border-collapse: separate;
                    border-spacing: 0;
                    margin-top: 15px;
                    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
                    border-radius: 6px;
                    overflow: hidden;
                }
                table td a,
                table th a {
                    text-decoration: none;
                    color: inherit; /* opcional: hereda el color del texto de la celda */
                }
                
                /* Borde inferior para todas las filas del cuerpo */
                tbody tr td {
                    border-bottom: 1px solid #ccc;
                    }
                    
               thead {
                   background-color: #3498db;
                   color: white;
                   font-weight: bold;
                   text-transform: uppercase;
                   letter-spacing: 0.5px;
               }
               
               thead th {
                   background-color: #3498db;
                   color: white;
                   font-weight: bold;
                   text-transform: uppercase;
                   letter-spacing: 0.5px;
                   border-bottom: 1px solid #2c3e50; /* Borde inferior elegante */
               }
               
               th, td {
                   border: none;
                   padding: 10px 8px;
                   text-align: center;
                   transition: background-color 0.3s ease;
               }
               
               tbody tr:hover td {
                   background-color: #ecf0f1;
                   }
                   
               tr:nth-child(even) td {
                   background-color: #f9fbfc;
                   }

               tfoot td {
                   background-color: #ecf0f1;
                   font-weight: bold;
                   color: #2c3e50;
               }
               </style>
           </head>
           <body>
           ${tablaClonada[0].outerHTML}
           </body>
           </html>
           `);
                ventana.document.close();
                ventana.focus();
                ventana.print();
            });
        });
    </script>
}