@model vercom.Models.Permissions
@{
    ViewBag.Title = "Permission Details";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>PANEL DE ADMINISTRACÓN</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Admin")">Administrar</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("PermissionIndex", "Admin")">Permisos</a>
            </li>
            <li class="active breadcrumb-item">
                Destalles del permiso:
                <strong>@Model.PermissionName</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles del permiso: <small class="m-l-sm">@Model.PermissionName</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-5 b-r ">
                            <dl class="row mb-0">
                                <div class="col-sm-12 text-sm-right">
                                    <a class="btn-outline-success btn btn-xs" href="@Url.Action("PermissionEdit", "Admin", new {id = Model.PermissionID})"><i class="fa fa-edit"></i> EDITAR</a>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>NOMBRE DEL permiso:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">@Model.PermissionName</dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>DESCRIPCCIÓN:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">@Model.PermissionDescription</dd>
                                </div>
                            </dl>
                        </div>
                        <div class="col-sm-7 b-r ">
                            <div id="RolesTable">
                                @Html.Partial("_ListRolesTable4Permission", Model)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="text-align: right">
                        <a href="@Url.Action("RoleIndex")" class="btn btn-default"><i class="fa fa-arrow-left"></i> Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/sweetAlert")
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [

                ], language: {
                    info: "Mostrando _START_ de _TOTAL_ registros",
                    infoFiltered: '(filtrado de _MAX_ registros totales)',
                    search: "Buscar:",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior",
                    },
                }

            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $(":input[type='button']").button();
        })
    </script>
}


