@model vercom.Models.Roles
@{
    ViewBag.Title = "Editar " + Model.RoleName;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>PANEL DE ADMINISTRACÓN</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Admin")">Administrar</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("RoleIndex", "Admin")">Roles</a>
            </li>
            <li class="active breadcrumb-item">
                Editar rol:
                <strong>@Model.RoleName</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar rol <small class="m-l-sm">@Model.RoleName</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4 b-r">
                            <form role="form" method="post" action="@Url.Action("RoleEdit", "Admin")">
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.RoleID)
                                <div class="form-group">
                                    <label>NOMBRE</label>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.RoleName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.RoleName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>DESCRIPCIÓN</label>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.RoleDescription, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.RoleDescription)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>SYS ADMIN</label>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.IsSysAdmin, new { @class = "input" })
                                        @Html.ValidationMessageFor(model => model.IsSysAdmin)
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-outline-success float-right m-t-n-xs" type="submit"><strong>ACTUALIZAR</strong></button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-8">
                            <div>
                                @Html.Partial("_AddPermission2PermissionsTable4Role", Model)
                            </div>
                            <div id="PermissionsTable">
                                @Html.Partial("_ListPermissions", Model)
                                <br />
                            </div>
                            <div class="btn-group">
                                <a href="@Url.Action("RoleIndex")" class="btn btn-outline-danger float-left m-t-n-xs"><i class="fa fa-plus-square"></i> IR A ROLES</a>
                                <a href="@Url.Action("PermissionIndex")" class="btn btn-outline-warning float-left m-t-n-xs"><i class="fa fa-address-book"></i> IR A PERMISOS</a>
                                <a href="@Url.Action("Index")" class="btn btn-outline-info float-left  m-t-n-xs"><i class="fa fa-user"></i> IR A USUARIOS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/chosen")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#PermissionId').chosen();
            $('#AddPermission').click(function () {
                var _permissionId = $('#PermissionId').val();
                var _roleId = $('#RoleID').val();
                if (_permissionId == '') {
                    return false;
                }
                var _parameters = { permissionId: _permissionId, id: _roleId };
                $.ajax({
                    url: '@Url.Action("AddPermission2RoleReturnPartialView", "Admin")',
                    type: "GET",
                    data: _parameters,
                    success: function (data, textStatus, jqXHR) {
                        $('#PermissionsTable').html(data);
                    }
                });
            });

            $('#AddAllPermissions').click(function () {
                var _permissionId = $('#PermissionId').val();
                var _roleId = $('#RoleID').val();

                var _parameters = { id: _roleId };
                $.ajax({
                    url: '@Url.Action("AddAllPermissions2RoleReturnPartialView", "Admin")',
                    type: "GET",
                    data: _parameters,
                    success: function (data, textStatus, jqXHR) {
                        $('#PermissionsTable').html(data);
                    }
                });
            });
        });
    </script>
    <script>
     $(document).ready(function () {
         $(document).on("click", ".deleteButton", function () {
             var _permissionId = window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1);
             var _id = $(this).data('id');
             swal({
                 title: "Estas seguro?",
                 text: "Esta acción es irrebercible!",
                 type: "warning",
                 showCancelButton: true,
                 confirmButtonColor: "#DD6B55",
                 confirmButtonText: "Si, eliminar!",
                 cancelButtonText: "No, cancelar!",
                 closeOnConfirm: true,
             },
                 function (isConfirm) {
                     if (isConfirm) {
                         $.ajax({
                             url: '@Url.Action("DeletePermissionFromRoleReturnPartialView", "Admin")',
                             type: "GET",
                             data: { id: _id, permissionId: _permissionId },
                             success: function (response) {
                                 if (response.success) {
                                     $('#row_' + _id).remove();
                                 } else {
                                     return false;
                                 }
                             },
                             error: function (xhr, status, error) {
                             }
                         });
                     }
                 });
         });
     });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [

                ], language: {
                    info: "Mostrando _START_ de _TOTAL_ registros",
                    infoFiltered: '(filtrado de _MAX_ registros totales)',
                    search: "Buscar:",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior",
                    },
                }

            });
        });
        $(document).ajaxStart(function () { $('#ajaxLoader').show(); });
        $(document).ajaxComplete(function () {
            $('#ajaxLoader').hide();
        });
    </script>
}

