@model vercom.Models.Users
@{
    ViewBag.Title = "DET. DEL USUARIO";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>PANEL DE ADMINISTRACÓN</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Admin")">Administrar</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>
                    @if (Model.UserName != null)
                    {@Model.UserName;
                }
            </strong>
        </li>
    </ol>
</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>DETALLES DEL USUARIO: <small class="m-l-sm">@Model.UserName</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-5 b-r ">
                            @Html.Partial("_userDetails", Model)
                        </div>
                        <div class="col-sm-7 b-r ">
                            <div class="panel" id="RolesTable">
                                @Html.Partial("_ListUserRoleTable", Model)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="text-align: right">
                        <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-arrow-left"></i> Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    <style>
        div.dataTables_wrapper div.dataTables_filter input {
            width: 250px;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/sweetAlert")
    <script>
     $(document).ready(function () {
         $(document).on("click", ".deleteButton", function () {
             var _userId = window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1);
             var _id = $(this).data('id');
             swal({
                 title: "Estas seguro?",
                 text: "Esta acción es irrebercible!",
                 type: "warning",
                 showCancelButton: true,
                 confirmButtonColor: "#DD6B55",
                 confirmButtonText: "Si, eliminar!",
                 cancelButtonText: "No, cancelar!",
                 closeOnConfirm: true,
             },
                 function (isConfirm) {
                     if (isConfirm) {
                         $.ajax({
                             url: '@Url.Action("DeleteUserFromRole", "Admin")',
                             type: "GET",
                             data: { roleId: _id, userId: _userId },
                             success: function (response) {
                                 if (response.success) {
                                     $('#row_' + _id).remove();
                                 } else {
                                     return false;
                                 }
                             },
                             error: function (xhr, status, error) {
                             }
                         });
                     }
                 });
         });
     });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#userRoleTable").DataTable({
                pageLength: 15,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [

                ], language: {
                    info: "Mostrando _START_ de _TOTAL_ registros",
                    infoFiltered: '(filtrado de _MAX_ registros totales)',
                    search: "Buscar:",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior",
                    },
                }

            });
        });
    </script>
}


