@model vercom.Models.Users
@{
    ViewBag.Title = "User - " + Model.UserName;
    if ((Model.UserName != null) && (Model.UserName != ""))
    {
        ViewBag.Title = ViewBag.Title + " (" + Model.UserName + ")";
    }
}
<div class="page-title-head d-flex align-items-center">
    <div class="flex-grow-1">
        <h4 class="fs-sm text-uppercase fw-bold m-0">USUARIOS</h4>
    </div>
    <div class="text-end">
        <ol class="breadcrumb m-0 py-0">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index","Home")">VERCOM</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">USUARIOS</a>
            </li>
            <li class="breadcrumb-item active">EDITAR</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xxl-4">
        <div class="card">
            <form role="form" method="post" action="@Url.Action("UsersEdit", "Admin")">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="card-header d-block p-3">
                    <h4 class="card-title mb-1">Datos del usuario</h4>
                </div> <!-- end card-header -->
                <div class="card-body">
                    <div class="row">
                        @Html.Partial("_userDetailsEdit", Model)
                    </div>                 
                </div> <!-- end card-body-->
                <div class="card-footer border-0">
                    <div class="mt-2 mb-2 d-flex gap-2 justify-content-end">
                        <a href="@Url.Action("Index")" class="btn btn-soft-dark">
                            <i data-lucide="arrow-big-left-dash" class="fs-xxl me-2"></i> Regresar
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i data-lucide="save" class="fs-sm me-2"></i> Actualizar
                        </button>
                    </div>
                </div>
            </form>
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col-xxl-8" id="bloque_roles">
        <div class="card">
            <div class="card-header d-block p-3">
                <h4 class="card-title mb-1">Roles asociados</h4>
            </div> <!-- end card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel" id="RolesTable">
                            @Html.Partial("_ListUserRoleTable", Model)
                        </div>
                        @Html.Partial("_ListEditableUserRoleTable")
                        <br />
                        <div class="btn-group">
                            <a href="@Url.Action("RoleIndex")" class="btn btn-outline-danger float-left m-t-n-xs"><i class="fa fa-plus-square"></i> IR A ROLES</a>
                            <a href="@Url.Action("Index")" class="btn btn-outline-info float-left  m-t-n-xs"><i class="fa fa-user"></i> IR A USUARIOS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="mt-1 mb-2 d-flex gap-2 justify-content-end">
                    <button type="button" class="btn btn-success" id="agregarProducto">
                        <i data-lucide="arrow-big-down-dash" class="fs-sm me-2"></i> Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-12">
        <div class="row row-cols-xxl-3 row-cols-md-3 align-items-center g-3" id="bloque-resumen">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 title="Sales Today">Cantidad</h5>
                        <div class="d-flex align-items-center gap-2 my-3">
                            <div class="avatar-md flex-shrink-0">
                                <span class="avatar-title text-bg-success rounded-circle fs-22">
                                    <i class="ti ti-premium-rights"></i>
                                </span>
                            </div>
                            <h3 class="mb-0" id="totalCantidad">0,00</h3>
                        </div>
                        <p class="mb-0">
                            <span class="text-success"><i class="ti ti-point-filled"></i></span>
                            <span class="text-nowrap text-muted">Cantidad (u) total</span>
                            <span class="float-end"><b id="tlabel_totalCantidad"></b></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 title="Total Products">Importe</h5>
                        <div class="d-flex align-items-center gap-2 my-3">
                            <div class="avatar-md flex-shrink-0">
                                <span class="avatar-title text-bg-primary rounded-circle fs-22">
                                    <i class="ti ti-cash-banknote"></i>
                                </span>
                            </div>
                            <h3 class="mb-0" id="totalImporte">0,00</h3>
                        </div>
                        <p class="mb-0">
                            <span class="text-primary"><i class="ti ti-point-filled"></i></span>
                            <span class="text-nowrap text-muted">Importe total</span>
                            <span class="float-end"><b id="tlabel_totalImporte"></b></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 title="Customer Count">Tipo de pago</h5>
                        <div class="d-flex align-items-center gap-2 my-3">
                            <div class="avatar-md flex-shrink-0">
                                <span class="avatar-title text-bg-info rounded-circle fs-22">
                                    <i class="ti ti-cash"></i>
                                </span>
                            </div>
                            <h3 class="mb-0" id="totalImpEfectivo">0,00</h3>
                            <div class="avatar-md flex-shrink-0">
                                <span class="avatar-title text-bg-info rounded-circle fs-22">
                                    <i class="ti ti-credit-card-pay"></i>
                                </span>
                            </div>
                            <h3 class="mb-0" id="totalImpTransferencia">0,00</h3>
                        </div>
                        <p class="mb-0">
                            <span class="text-info"><i class="ti ti-point-filled"></i></span>
                            <span class="text-nowrap text-muted"> Efectivo </span>
                            <span class="badge badge-soft-info fw-medium ms-2 fs-xs ms-auto"
                                  id="label_cantEfectivo"></span>
                            <span class="text-nowrap text-muted"> Transferencia </span>
                            <span class="badge badge-soft-warning fw-medium ms-2 fs-xs ms-auto"
                                  id="label_cantTransferencia"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-12">
        <div class="card" data-table="" data-table-rows-per-page="100" id="dtableOperaciones">
            <div class="card-header border-light justify-content-between">
                <div class="d-flex gap-2">
                    <div class="app-search">
                        <input data-table-search="" type="search" class="form-control" placeholder="Buscar por nombre...">
                        <i data-lucide="search" class="app-search-icon text-muted"></i>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <!-- Records Per Page -->
                    <div>
                        <select data-table-set-rows-per-page="" class="form-select form-control my-1 my-md-0">
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex gap-1">
                    <button class="btn btn-success btn-icon" id="btnExportExcel">
                        <i data-lucide="file-spreadsheet" class="fs-lg"></i>
                    </button>
                    <button class="btn btn-info btn-icon" id="btnPrint">
                        <i data-lucide="printer" class="fs-lg"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <table id="tablaProductos"
                           class="table table-custom table-centered table-select table-hover w-100 mb-0">
                        <thead class="thead-sm text-uppercase fs-xxs">
                            <tr class="text-uppercase fs-xxs">
                                <th data-table-sort="" data-column="producto">PRODUCTO</th>
                                <th data-table-sort="" data-column="saldo">SALDO</th>
                                <th data-table-sort="" data-column="cantidad">CANT.</th>
                                <th data-table-sort="" data-column="tpago">T.PAGO</th>
                                <th data-table-sort="" data-column="rest">REST.</th>
                                <th data-table-sort="" data-column="precio">PRECIO</th>
                                <th data-table-sort="" data-column="importe">IMPORTE</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer border-0">
                <div class="d-flex justify-content-between align-items-center">
                    <div data-table-pagination-info="entradas"></div>
                    <div data-table-pagination=""></div>
                </div>
                <div class="mt-2 mb-2 d-flex gap-2 justify-content-end">
                    <a href="@Url.Action("Index")" class="btn btn-soft-dark">
                        <i data-lucide="arrow-big-left-dash" class="fs-xxl me-2"></i> Regresar
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i data-lucide="save" class="fs-sm me-2"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end row-->
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Editar usuario <small class="m-l-sm">@Model.UserName</small></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row" id="ajaxLoader" style="display: none">
                    <div class="sk-spinner sk-spinner-cube-grid">
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 b-r">

                    </div>
                    <div class="col-sm-8">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/sweetAlert")
    <script>
    $(document).ready(function () {
             $('#AddRole').on('click',
                 function () {
                     const _userId = document.getElementById("UserID").value;
                     const _id = document.getElementById("RoleId").value;
                     var _parameters = { userId: _userId, id: _id };
                     $.ajax({
                         url: '@Url.Action("AddUserRoleReturnPartialView", "Admin")',
                         type: "GET",
                         data: _parameters,
                         success: function (data, textStatus, jqXHR) {
                             $('#userRoleTable').html(data);
                         }
                     });
                 });
             });
    </script>
    <script>
        $(document).ready(function () {
            $(document).on("click", ".deleteButton", function () {
                var _userId = window.location.pathname.substring(window.location.pathname.lastIndexOf("/") + 1);
                var _id = $(this).data('id');
                swal({
                    title: "Estas seguro?",
                    text: "Esta acción es irrebercible!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Si, eliminar!",
                    cancelButtonText: "No, cancelar!",
                    closeOnConfirm: true,
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                url: '@Url.Action("DeleteUserFromRole", "Admin")',
                                type: "GET",
                                data: { roleId: _id, userId: _userId },
                                success: function (response) {
                                    if (response.success) {
                                        $('#row_' + _id).remove();
                                    } else {
                                        return false;
                                    }
                                },
                                error: function (xhr, status, error) {
                                }
                            });
                        }
                    });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#userRoleTable').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [

                ], language: {
                    info: "Mostrando _START_ de _TOTAL_ registros",
                    infoFiltered: '(filtrado de _MAX_ registros totales)',
                    search: "Buscar:",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior",
                    },
                }

            });
        });
        $(document).ajaxStart(function () { $('#ajaxLoader').show(); });
        $(document).ajaxComplete(function () {
            $('#ajaxLoader').hide();
        });
    </script>
}

