@model vercom.Models.categoria
@{
    ViewBag.Title = "Agregar categoria";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>CATEGORIAS</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Unidad")">Categorias</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Agregar categoría</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" id="ibox">
                <div class="ibox-title">
                    <h5>Agregar Categoría <small class="m-l-sm">Introduzca los datos de la categoría que desea agregar</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4 b-r">
                            <form role="form" method="post" action="@Url.Action("Create", "Categoria")">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()
                                <div class="form-group">
                                    <label>CLAVE</label>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.clave, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.clave)
                                    </div>
                                </div>
                                <div>
                                    <a href="@Url.Action("Index")" class="btn btn-default float-left m-t-n-xs"><i class="fa fa-arrow-left"></i> REGRESAR</a>
                                    <button class="btn btn-sm btn-outline-primary float-right m-t-n-xs" type="submit"><strong>AGREGAR</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>