@model List<vercom.Models.operacion>
@{
    ViewBag.Title = "IPV";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>OPERACIONES</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a>Operaciones</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Generar IPV</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>GENERAR IPV<small class="m-l-sm"></small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="ajaxLoader" style="display: none">
                        <div class="sk-cube-grid">
                            <div class="sk-cube sk-cube1"></div>
                            <div class="sk-cube sk-cube2"></div>
                            <div class="sk-cube sk-cube3"></div>
                            <div class="sk-cube sk-cube4"></div>
                            <div class="sk-cube sk-cube5"></div>
                            <div class="sk-cube sk-cube6"></div>
                            <div class="sk-cube sk-cube7"></div>
                            <div class="sk-cube sk-cube8"></div>
                            <div class="sk-cube sk-cube9"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 b-r">
                            <div class="form-group" id="data_1">
                                <label>RANGO DE FECHA </label>
                                @{
                                    var date = DateTime.Now;
                                    var oPrimerDiaDelMes = new DateTime(date.Year, date.Month, 1);
                                    var oUltimoDiaDelMes = oPrimerDiaDelMes.AddMonths(1).AddDays(-1);
                                }
                                <div class="input-daterange input-group" id="datepicker">
                                    <input type="text" class="input-sm form-control" name="start" id="star" value="@oPrimerDiaDelMes.ToString("d")" />
                                    <span class="input-group-addon">al</span>
                                    <input type="text" class="input-sm form-control" name="end" id="end" value="@oUltimoDiaDelMes.ToString("d")" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>PUNTO DE VENTA</label>
                                <select class="chosen-select" name="pventa" id="pventa">
                                    <option value="0">Seleccione el punto de venta</option>
                                    @Html.Action("_listapuntos", "Parcial")
                                </select>
                            </div>
                            <div class="form-group">
                                <label>CATEGORIA</label>
                                <select class="form-control" name="categ" id="categ">
                                    <option value="0">Seleccione la categoría</option>
                                    @Html.Action("_listcategorias", "Parcial")
                                </select>
                            </div>
                            <a href="@Url.Action("IPV", "Operacion")" class="btn btn-sm btn-outline-success  float-left m-t-n-xs" id="BTNRefilter" style="display: none"><span class="fa fa-refresh"></span> LIMPIAR</a>
                            <button type="button" class="btn btn-sm btn-outline-primary  float-right m-t-n-xs" id="BTNfilter"><span class="fa fa-filter"></span> GENERAR</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>IPV<small class="m-l-sm"></small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="width: 100%; padding-left: -0px; ">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover dt-responsive display nowrap DataTable no-footer" width="100%" id="ipv">
                                        <thead id="headroad">
                                            <tr>
                                                <th colspan="12"></th>
                                                <th colspan="3">FECHA: : <label id="fechaIPV"></label></th>
                                            </tr>
                                            <tr>
                                                <th colspan="15"> IPV punto de venta: <label id="puntoIPV"></label></th>
                                            </tr>
                                            <tr>
                                                <th rowspan="2">CÓDIGO</th>
                                                <th rowspan="2">PRODUCTO</th>
                                                <th rowspan="2">U/M</th>
                                                <th colspan="2">SALDO INICIAL</th>
                                                <th colspan="2">ENTRADAS</th>
                                                <th colspan="3">VENTAS</th>
                                                <th colspan="2">DEVOLUCIÓN</th>
                                                <th>MERMAS</th>
                                                <th colspan="2">SALDO FINAL</th>
                                            </tr>
                                            <tr>
                                                <th>CANT.</th>
                                                <th>IMP.</th>
                                                <th>CANT.</th>
                                                <th>IMP.</th>
                                                <th>CANT.</th>
                                                <th>PRECIO</th>
                                                <th>IMP.</th>
                                                <th>CANT.</th>
                                                <th>IMP.</th>
                                                <th>CANT</th>
                                                <th>CANT.</th>
                                                <th>IMP.</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    <style>
        div.dataTables_wrapper div.dataTables_filter input {
            width: 500px;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/dataTables")
    <script src="~/Scripts/decimal.js"></script>
    <script>
         $(document).ready(function () {

             $('#data_1 .input-daterange')
                 .datepicker({
                     locale: 'es',
                     keyboardNavigation: false,
                     forceParse: false,
                     format: 'dd/mm/yyyy'
              });

             $('.chosen-select').chosen({ width: "100%" });

             $('#BTNfilter').on('click',
                 function () {
                     $('#ipv').DataTable().clear().destroy();
                     const url = '@Url.Action("JsonIpvResult", "Operacion")';
                     const fechainicio = document.getElementById("star").value;
                     const fechafin = document.getElementById("end").value;
                     const puntoId = document.getElementById("pventa").value;
                     const categ = document.getElementById("categ").value;
                     if (puntoId == null || fechafin == null) { return false; }
                     var tSimport = 0;
                     var tEimport = 0;
                     var tVimport = 0;
                     var tDimport = 0;
                     var tMimport = 0;
                     var tFimport = 0;
                     $.getJSON(url,
                         { inicio: fechainicio, fin: fechafin, pventa: puntoId, categ: categ },
                         function (data) {
                             $.each(data,
                                 function (i, item) {
                                     $('#ipv').append('<tr><td>' + item.cod + '</td>' + '<td>' + item.producto + '</td>' + '<td>' + item.unidad + '</td>' + '<td>' + formatearNumero(item.cantidad_saldo) + '</td>' + '<td>' + formatearNumero(item.importe_saldo) + '</td>' + '<td>' + formatearNumero(item.cantidad_entrada) + '</td>' + '<td>' + formatearNumero(item.importe_entrada) + '</td>' + '<td>' + formatearNumero(item.cantidad_venta) + '</td>' + '<td>' + formatearNumero(item.precio_venta) + '</td>' + '<td>' + formatearNumero(item.importe_venta) + '</td>' + '<td>' + formatearNumero(item.cantidad_devolucion) + '</td>' + '<td>' + formatearNumero(item.importe_devolucion) + '</td>' + '<td>' + formatearNumero(item.cantidad_merma) + '</td>' + '<td>' + formatearNumero(item.final_saldo) + '</td>' + '<td>' + formatearNumero(item.final_importe) + '</td></tr>');
                                     tSimport = tSimport + item.importe_saldo;
                                     tEimport = tEimport + item.importe_entrada;
                                     tVimport = tVimport + item.importe_venta;
                                     tDimport = tDimport + item.importe_devolucion;
                                     tMimport = tMimport + item.importe_merma;

                                 });

                             if (data.length > 0) {
                                 tFimport = (tSimport + tEimport) - (tVimport + tDimport + tMimport);
                                 var fecha = "";
                                 if (fechainicio === fechafin) { fecha = fechainicio; } else { fecha = fechainicio + ' - ' + fechafin; }
                                 $('#ipv').append('<tr><td></td><td></td><td></td><td></td><td>' + formatearNumero(tSimport) + '</td><td></td><td>' + formatearNumero(tEimport) + '</td><td></td><td></td><td>' + formatearNumero(tVimport) + '</td><td></td><td>' + formatearNumero(tDimport) + '</td><td></td><td></td><td>' + formatearNumero(tFimport) + '</td></tr>');
                                 $('#fechaIPV').empty();
                                 $('#fechaIPV').append(fecha);
                                 $('#puntoIPV').empty();
                                 $('#puntoIPV').append(data[0].punto_nombre);
                                 $('#ipv').DataTable({
                                     pageLength: 100,
                                     dom: '<"html5buttons"B>lTfgitp',
                                     header: true,
                                     fixedHeader: {
                                         header: true,
                                         headerOffset: 120
                                     },
                                     order: [[3, "desc"]],
                                     buttons: [
                                         { extend: 'excel', text: 'EXP. EXCEL', title: 'IPV ' + data[0].punto_nombre + fecha },
                                         {
                                             extend: 'print',
                                             title: '',
                                             orientation: 'landscape',
                                             customize: function (win) {
                                                 $(win.document.body).addClass('white-bg');
                                                 $(win.document.body).css('font-size', 'inherit');
                                                 $(win.document.body).find('thead').empty();
                                                 $(win.document.body).find('thead').append('<tr>< td colspan = "12" ></td ><td colspan="3">FECHA:' + fechainicio + ' - ' + fechafin + '</td></tr ><tr><td colspan="15"> IPV PUNTO DE VENTA: ' + data[0].punto_nombre + '</td></tr><tr><td rowspan="2">CÓDIGO</td><td rowspan="2">PRODUCTO</td><td rowspan="2">U/M</td><td colspan="2">SALDO INICIAL</td><td colspan="2">ENTRADAS</td><td colspan="3">VENTAS</td><td colspan="2">DEVOLUCIÓN</td><td>MERMAS</td><td colspan="2">SALDO FINAL</td></tr><tr><td> CANT.</td><td>IMP.</td><td>CANT.</td><td>IMP.</td><td>CANT.</td><td>PRECIO</td><td>IMP.</td><td>CANT.</td><td>IMP.</td><td>CANT</td><td>CANT.</td><td>IMP.</td></tr >');
                                                 $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');

                                                 // Asegurar que se selecciona una sola página para imprimir por defecto
                                                 $(win.document.body).css('page-break-after', 'always');

                                                 // Añadir bordes inferiores a las filas de la tabla
                                                 $(win.document.body).find('table tr').css('border-bottom', '1px solid black');
                                             }
                                         },
                                     ], language: {
                                         "sProcessing": "Procesando...",
                                         "sLengthMenu": "Mostrar _MENU_ registros",
                                         "sZeroRecords": "No se encontraron resultados",
                                         "sEmptyTable": "Ningún dato disponible en esta tabla",
                                         "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                         "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                         "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                         "sInfoPostFix": "",
                                         "sSearch": "Buscar:",
                                         "sUrl": "",
                                         "sInfoThousands": ",",
                                         "sLoadingRecords": "Cargando...",
                                         "oPaginate": {
                                             "sFirst": "Primero",
                                             "sLast": "Último",
                                             "sNext": "Siguiente",
                                             "sPrevious": "Anterior"
                                         },
                                         "oAria": {
                                             "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                             "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                         }
                                     }
                                 });
                             }
                         });
                 });
                 
             function formatearNumero(valor) {
                 return new Intl.NumberFormat('es-ES', {
                     minimumFractionDigits: 2,
                     maximumFractionDigits: 2
                 }).format(valor || 0);
             }

         });
         $(document).ajaxStart(function () {
             $('#ajaxLoader').show();

         });
         $(document).ajaxComplete(function () {
             $('#ajaxLoader').hide();
         });
    </script>
}