@model vercom.Models.producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>producto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.precio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.precio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.costo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.costo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.categoria.clave)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.categoria.clave)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.unidad.unidad1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unidad.unidad1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
