@model vercom.Models.presupuesto
@{
    ViewBag.Title = "Presupuesto";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>FLUJO DE EFECTIVO</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Flujo")">Flujo de efectivo</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Editar Presupuesto</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>FLUJO DE EFECTIVO <small>Editar presupuesto </small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="ajaxLoader" style="display: none">
                        <div class="sk-cube-grid">
                            <div class="sk-cube sk-cube1"></div>
                            <div class="sk-cube sk-cube2"></div>
                            <div class="sk-cube sk-cube3"></div>
                            <div class="sk-cube sk-cube4"></div>
                            <div class="sk-cube sk-cube5"></div>
                            <div class="sk-cube sk-cube6"></div>
                            <div class="sk-cube sk-cube7"></div>
                            <div class="sk-cube sk-cube8"></div>
                            <div class="sk-cube sk-cube9"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 b-r">
                            <form role="form" method="post" action="@Url.Action("Edit", "Presupuesto")">
                                @Html.AntiForgeryToken()
                                <div class="form-group" id="data_1">
                                    <label class="font-normal">FECHA</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" name="fecha" id="fecha" class="form-control" value="@Model.fecha">
                                    </div>
                                    @Html.ValidationMessageFor(model => model.fecha)
                                </div>
                                <div class="form-group">
                                    <label>AREA ECÓNOMICA</label>
                                    @Html.DropDownList("areaid", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.areaid, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>SALDO</label>
                                    @Html.EditorFor(model => model.saldo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.saldo, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    <a href="@Url.Action("Index")" class="btn btn-default float-left m-t-n-xs"><i class="fa fa-arrow-left"></i> REGRESAR</a>
                                    <button class="btn btn-sm btn-outline-primary float-right m-t-n-xs" type="submit"><strong>ACTUALIZAR</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dateRange")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                format: "dd/mm/yyyy",
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

        });
    </script>
}
