@model vercom.Models.negocio
@{
    var date = DateTime.Now;
    var oPrimerDiaDelMes = new DateTime(date.Year, date.Month, 1);
    var oUltimoDiaDelMes = oPrimerDiaDelMes.AddMonths(1).AddDays(-1);
}
<form class="form-horizontal">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group" id="data_1">
                <label>RANGO DE FECHA </label>
                <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="input-sm form-control" name="start" id="star" value="@oPrimerDiaDelMes.ToString("d")" />
                    <span class="input-group-addon">al</span>
                    <input type="text" class="input-sm form-control" name="end" id="end" value="@oUltimoDiaDelMes.ToString("d")" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="productoID">PRODUCTO | SERVICIO</label>
                <select class="form-control" name="productoID" id="productoID">
                    <option value="0"></option>
                    @Html.Action("_listproductos_servicios", "Parcial")
                </select>
                @Html.ValidationMessageFor(model => model.productoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <label for="clienteID">CLIENTE</label>
                <select class="form-control" name="clienteID" id="clienteID">
                    <option value="0"></option>
                    @Html.Action("_listclientes", "Parcial")
                </select>
                @Html.ValidationMessageFor(model => model.clienteID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="operacionID">FORMA DE OPERACIÓN</label>
                <select class="form-control" name="operacionID" id="operacionID">
                    <option value="0"></option>
                    @Html.Action("_listformaoperacion", "Parcial")
                </select>
                @Html.ValidationMessageFor(model => model.operacionID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="facturaID">TIPO DE FACTURA</label>
                <select class="form-control" name="facturaID" id="facturaID">
                    <option value="0"></option>
                    @Html.Action("_listtipofactura", "Parcial")
                </select>
                @Html.ValidationMessageFor(model => model.facturaID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="medioPagoID">MEDIO DE PAGO</label>
                <select class="form-control" name="medioPagoID" id="medioPagoID">
                    <option value="0"></option>
                    @Html.Action("_listmediopago", "Parcial")
                </select>
                @Html.ValidationMessageFor(model => model.medioPagoID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="factura">FACTURA</label>
                @Html.EditorFor(model => model.factura, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                @Html.ValidationMessageFor(model => model.factura, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary mb-2" id="filterOper">
                <i data-lucide="filter" class="fs-lg"></i>
            </button>
        </div>
    </div>
</form>