@using Newtonsoft.Json;
@{
    ViewBag.Title = "VENTA MAYORISTA";
}
<div class="page-title-head d-flex align-items-center">
    <div class="flex-grow-1">
        <h4 class="fs-sm text-uppercase fw-bold m-0">VENTA MAYORISTA</h4>
    </div>
    <div class="text-end">
        <ol class="breadcrumb m-0 py-0">
            <li class="breadcrumb-item">
                <a href="javascript: void(0);">VERCOM</a>
            </li>           
            <li class="breadcrumb-item active">VENTA MAYORISTA</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <!-- Simple card -->
        <div class="card">
            <div class="card-body">
                @{
                    var date = DateTime.Now;
                    var oPrimerDiaDelMes = new DateTime(date.Year, date.Month, 1);
                    var oUltimoDiaDelMes = oPrimerDiaDelMes.AddMonths(1).AddDays(-1);
                }
                <form>
                    <div class="row gy-2 gx-2 justify-content-end">
                        <div class="col-3">
                            <div class="input-group">
                                <div class="input-daterange input-group" id="datePickerRange">
                                    <div class="input-group-text">
                                        <i data-lucide="calendar"
                                           class="app-search-icon text-muted"></i>
                                    </div>
                                    <input type="text" class="form-control date" id="start" name="start" placeholder="Desde"
                                           value="@oPrimerDiaDelMes.ToString("d")" data-toggle="date-picker"
                                           data-single-date-picker="true">
                                    <div class="input-group-text"> AL </div>
                                    <input type="text" class="form-control date" id="end" name="end" placeholder="Hasta"
                                           data-toggle="date-picker" data-single-date-picker="true"
                                           value="@oUltimoDiaDelMes.ToString("d")">
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <select class="form-control" name="productoID" id="productoID">
                                    <option value="0">Producto - Servicio</option>
                                    @Html.Action("_listproductos_servicios", "Parcial")
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <select class="form-control" name="clienteID" id="clienteID">
                                    <option value="0">Cliente</option>
                                    @Html.Action("_listclientes", "Parcial")
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select class="form-control" name="operacionID" id="operacionID">
                                    <option value="0">Forma de operación</option>
                                    @Html.Action("_listformaoperacion", "Parcial")
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" name="facturaID" id="facturaID">
                                    <option value="0">Tipo de factura</option>
                                    @Html.Action("_listtipofactura", "Parcial")
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select class="form-control" name="medioPagoID" id="medioPagoID">
                                    <option value="0">Medio de pago</option>
                                    @Html.Action("_listmediopago", "Parcial")
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" name="factura" id="factura" placeholder="No. Factura" class="form-control" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary mb-2" id="filterOper">
                                <i data-lucide="filter" class="fs-lg"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end card-body-->
        </div>
        <!-- end card-->
    </div>
    <!-- end col -->
</div>
<div class="row row-cols-xxl-3 row-cols-md-3 row-cols-1 align-items-center g-1">
    <div class="col">
        <div class="card mb-0">
            <div class="card-body">
                <h5 title="Total Products">Importe de venta</h5>
                <div class="d-flex align-items-center gap-2 my-3">
                    <div class="avatar-md flex-shrink-0">
                        <span class="avatar-title text-bg-primary rounded-circle fs-22">
                            <i class="ti ti-package"></i>
                        </span>
                    </div>
                    <h3 class="mb-0" id="label_totalImporte">0,00</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-0">
            <div class="card-body">
                <h5 title="Customer Orders">Costo</h5>
                <div class="d-flex align-items-center gap-2 my-3">
                    <div class="avatar-md flex-shrink-0">
                        <span class="avatar-title text-bg-secondary rounded-circle fs-22">
                            <i class="ti ti-shopping-bag-plus"></i>
                        </span>
                    </div>
                    <h3 class="mb-0" id="label_totalCosto">0,00</h3>             
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-0">
            <div class="card-body">
                <h5 title="Sales Today">Utilidades</h5>
                <div class="d-flex align-items-center gap-2 my-3">
                    <div class="avatar-md flex-shrink-0">
                        <span class="avatar-title text-bg-success rounded-circle fs-22">
                            <i class="ti ti-currency-dollar"></i>
                        </span>
                    </div>
                    <h3 class="mb-0" id="label_utilidades">0,00</h3>         
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-1">
            <div class="card-body">
                <h5 title="Customer Count">Cliente más frecuente</h5>
                <div class="d-flex align-items-center gap-2 my-3">
                    <div class="avatar-md flex-shrink-0">
                        <span class="avatar-title text-bg-info rounded-circle fs-22">
                            <i class="ti ti-arrow-back-up-double"></i>
                        </span>
                    </div>
                    <h3 class="mb-0" id="label_modaCliente"></h3>         
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-1">
            <div class="card-body">
                <h5 title="Total Revenue">Producto más vendido</h5>
                <div class="d-flex align-items-center gap-2 my-3">
                    <div class="avatar-md flex-shrink-0">
                        <span class="avatar-title text-bg-warning rounded-circle fs-22">
                            <i class="ti ti-package-export"></i>
                        </span>
                    </div>
                    <h3 class="mb-0" id="label_modaServiProducto"></h3>              
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-1">
            <div class="card-body">
                <h5 title="Total Revenue">Canal de preferencia</h5>
                <div class="d-flex align-items-center gap-2 my-3">
                    <div class="avatar-md flex-shrink-0">
                        <span class="avatar-title text-bg-warning rounded-circle fs-22">
                            <i class="ti ti-package-export"></i>
                        </span>
                    </div>
                    <h3 class="mb-0" id="label_modaFormaOperacion"></h3>     
                </div>
            </div>
        </div>
    </div>
</div><!-- end row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-header">
                <div class="card-title">
                    <h5>VENTAS</h5>
                </div>
                <div class="justify-content-end">
                    <div class="btn-group">
                        <button type="button" value="day" onclick="updateChar(this)" class="btn btn-xs btn-info">Hoy</button>
                        <button type="button" value="month" onclick="updateChar(this)" class="btn btn-xs btn-info">Este Mes</button>
                        <button type="button" value="year" onclick="updateChar(this)" class="btn btn-xs btn-info">Este Año</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="chart-container">
                            <div id="spinner1" class="spinner-overlay" style="display:none">
                                <div class="sk-spinner sk-spinner-wave">
                                    <div class="sk-rect1"></div>
                                    <div class="sk-rect2"></div>
                                    <div class="sk-rect3"></div>
                                    <div class="sk-rect4"></div>
                                    <div class="sk-rect5"></div>
                                </div>
                            </div>
                            <canvas id="clientes"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="chart-container">
                            <div id="spinner2" class="spinner-overlay" style="display:none">
                                <div class="sk-spinner sk-spinner-wave">
                                    <div class="sk-rect1"></div>
                                    <div class="sk-rect2"></div>
                                    <div class="sk-rect3"></div>
                                    <div class="sk-rect4"></div>
                                    <div class="sk-rect5"></div>
                                </div>
                            </div>
                            <canvas id="tcliente" height="550"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-12 hr-line-dashed"></div>
                    <div class="col-lg-8">
                        <div class="chart-container">
                            <div id="spinner3" class="spinner-overlay" style="display:none">
                                <div class="sk-spinner sk-spinner-wave">
                                    <div class="sk-rect1"></div>
                                    <div class="sk-rect2"></div>
                                    <div class="sk-rect3"></div>
                                    <div class="sk-rect4"></div>
                                    <div class="sk-rect5"></div>
                                </div>
                            </div>
                            <canvas id="foperacion"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="chart-container">
                            <div id="spinner4" class="spinner-overlay" style="display:none">
                                <div class="sk-spinner sk-spinner-wave">
                                    <div class="sk-rect1"></div>
                                    <div class="sk-rect2"></div>
                                    <div class="sk-rect3"></div>
                                    <div class="sk-rect4"></div>
                                    <div class="sk-rect5"></div>
                                </div>
                            </div>
                            <canvas id="mpago" height="550"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section Styles {
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
}


@section Scripts {
    <script src="~/Scripts/plugins/toastr/toastr.min.js"></script>
    <script src="~/Scripts/plugins/moment/moment.min.js"></script>
    <script src="~/Scripts/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Scripts/plugins/choices/choices.min.js"></script>
    <script src="~/Scripts/plugins/table2excel/table2excel.js"></script>
    <script src="~/Scripts/custom-table.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            iniciarDashboard();
        };

        let parametros = {
            inicio: $('#start').val(),
            fin: $('#end').val(),
            ProductoID: $('#productoID').val(),
            ClienteID: $('#clienteID').val(),
            OperacionID: $('#operacionID').val(),
            FacturaID: $('#facturaID').val(),
            MedioPagoID: $('#medioPagoID').val(),
            NoFactura: $('#factura').val()
        };

        function iniciarDashboard() {
            try { cargarKPIsDashboard(); } catch (e) { console.error("Error en KPIs:", e.message); }
            //try { cargarDistribucionPorFecha(); } catch (e) { console.error("Error en Fecha:", e.message); }
            //try { cargarDistribucionPorPunto(); } catch (e) { console.error("Error en Punto:", e.message); }
            //try { cargarProductosRecientes(); } catch (e) { console.error("Error en Punto:", e.message); }
            //try { cargarOperacionesRecientes(); } catch (e) { console.error("Error en Punto:", e.message); }
        }

        async function cargarKPIsDashboard() {
            const url = '@Url.Action("iResumenMayorista", "Analisis")';
            const bloqueID = '#bloque-resumen';
            const datos = await OptenerData(url, bloqueID, parametros);
            if (datos) {
                actualizarEtiquetas(datos, bloqueID);
            }
        }

       async function OptenerData(url, bloqueID, parametros = {}) {
            const queryParams = new URLSearchParams(parametros).toString();
            const fullUrl = `${url}?${queryParams}`;
            activarOverlayEnContenedor(bloqueID);
            try {
                const response = await fetch(fullUrl, { method: "GET" });

                const tipo = response.headers.get("content-type") || "";
                if (!response.ok) {
                    console.warn(`⚠️ Error HTTP ${response.status} en ${url}`);
                    const texto = await response.text();
                    console.log("Contenido devuelto:", texto.slice(0, 200));
                    return null;
                }

                if (!tipo.includes("application/json")) {
                    const texto = await response.text();
                    console.error("❌ Respuesta no es JSON válida:", texto.slice(0, 200));
                    return null;
                }
                return await response.json();
            } catch (error) {
                console.error(`❌ Error de red o fetch en ${url}:`, error);
                return null;
            }
        }

       function formatearNumero(valor) {
            return new Intl.NumberFormat('en-US', {
                minimumFractionDigits: 0,
                maximumFractionDigits: 2
            }).format(valor || 0);
        }

        function actualizarEtiquetas(data, bloqueID) {
            $('#label_totalImporte').empty();
            $('#label_totalCosto').empty();
            $('#label_utilidades').empty();
            $('#label_modaCliente').empty();
            $('#label_modaServiProducto').empty();
            $('#label_modaFormaOperacion').empty();
            console.log(data);
            $('#label_totalImporte').append(formatearNumero(data.ImporteVenta));
            $('#label_totalCosto').append(formatearNumero(data.CostoTotal));
            $('#label_utilidades').append(formatearNumero(data.Utilidad));
            $('#label_modaCliente').append(data.ClienteFrecuente);
            $('#label_modaServiProducto').append(data.ProductoPopular);
            $('#label_modaFormaOperacion').append(data.CanalPreferido);
            desactivarOverlayEnContenedor(bloqueID);
        }

        function activarOverlayEnContenedor(contenedorID) {
            const contenedor = document.querySelector(contenedorID);
            if (!contenedor) return;

            const cards = contenedor.querySelectorAll('.card');
            cards.forEach(card => {
                let overlay = card.querySelector('.card-overlay');
                if (!overlay) {
                    overlay = document.createElement('div');
                    overlay.classList.add(
                        'card-overlay',
                        'position-absolute',
                        'top-0',
                        'start-0',
                        'w-100',
                        'h-100',
                        'd-flex',
                        'justify-content-center',
                        'align-items-center',
                        'noExport'
                    );
                    overlay.style.zIndex = '10';

                    const spinner = document.createElement('div');
                    spinner.classList.add('spinner-border', 'text-primary');
                    spinner.setAttribute('role', 'status');

                    const label = document.createElement('span');
                    label.classList.add('visually-hidden');
                    label.textContent = 'Cargando...';

                    spinner.appendChild(label);
                    overlay.appendChild(spinner);
                    card.appendChild(overlay);
                }

                overlay.style.display = 'flex';
                $(overlay).hide().fadeIn(200);
            });
        }

        function desactivarOverlayEnContenedor(contenedorID) {
            const contenedor = document.querySelector(contenedorID);
            if (!contenedor) return;

            const overlays = contenedor.querySelectorAll('.card .card-overlay');
            overlays.forEach(overlay => {
                $(overlay).fadeOut(200, () => overlay.remove());
            });
        }

        let productoChoices;
        $(document).ready(function () {
            const formato = 'DD/MM/YYYY';
            $('#datePickerRange').daterangepicker({
                startDate: moment().startOf('month'),
                endDate: moment().endOf('month'),
                singleDatePicker: false,
                showDropdowns: true,
                autoUpdateInput: true,
                cancelClass: "btn-light",
                applyButtonClasses: "btn-success",
                opens: 'center',
                locale: {
                    format: formato,
                    separator: ' - ',
                    applyLabel: 'Aplicar',
                    cancelLabel: 'Cancelar',
                    fromLabel: 'Desde',
                    toLabel: 'Hasta',
                    customRangeLabel: 'Personalizado',
                    daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                        'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    firstDay: 1
                }
            }, function (start, end) {
                $('#start').val(start.format(formato));
                $('#end').val(end.format(formato));
            });
            productoChoices = new Choices('#productoID');

            $('#filterOper').on('click', function () {
                parametros = {
                    inicio: $('#start').val(),
                    fin: $('#end').val(),
                    ProductoID: $('#productoID').val(),
                    ClienteID: $('#clienteID').val(),
                    OperacionID: $('#operacionID').val(),
                    FacturaID: $('#facturaID').val(),
                    MedioPagoID: $('#medioPagoID').val(),
                    NoFactura: $('#factura').val()
                };
                iniciarDashboard();
            });
        });
    </script>
}

