@{
    ViewBag.Title = "CIERRE";
    var i = 0;
    double? saldoTotal = 0;
    double? entradaTotal = 0;
    double? salidaTotal = 0;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>CIERRE</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Flujo")">Flujo de efectivo</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Cierre</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        CIERRE
                        <small class="m-l-sm"></small>
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-4 b-r">
                            <form role="form" method="post" action="#">
                                <div class="form-group" id="data_1">
                                    <label class="font-normal">FECHA</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" name="fecha" id="fecha" class="form-control" value="@DateTime.Now.ToString("d")">
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-outline-success  float-left m-t-n-xs" id="BTNfilter"><span class="fa fa-filter"></span> GENERAR</button>
                                    <button class="btn btn-sm btn-outline-primary float-right m-t-n-xs" id="BTNCierre" type="button" style="display:none"><strong>CERRAR OPERACIONES</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        CIERRE
                        <small class="m-l-sm"></small>
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="ajaxLoader" style="display: none">
                        <div class="sk-cube-grid">
                            <div class="sk-cube sk-cube1"></div>
                            <div class="sk-cube sk-cube2"></div>
                            <div class="sk-cube sk-cube3"></div>
                            <div class="sk-cube sk-cube4"></div>
                            <div class="sk-cube sk-cube5"></div>
                            <div class="sk-cube sk-cube6"></div>
                            <div class="sk-cube sk-cube7"></div>
                            <div class="sk-cube sk-cube8"></div>
                            <div class="sk-cube sk-cube9"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="width: 100%; padding-left: -0px; ">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover dt-responsive display nowrap DataTable" width="100%">
                                        <thead>
                                            <tr>
                                                <th>AREA</th>
                                                <th>ENTRADA</th>
                                                <th>CONCEPTO.</th>
                                                <th>SALIDA</th>
                                                <th>CONCEPTO</th>
                                                <th>SALDO ACTUAL</th>
                                                <th>SALDO FINAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    <style>
        div.dataTables_wrapper div.dataTables_filter input {
            width: 500px;
        }

        table.dataTable thead {
            background-color: rgb(74, 190, 123);
            color: azure;
        }

        .page-link {
            color: black !important;
        }

        table {
            width: 100%;
        }

        th, td {
            padding: 8px;
            color: black;
            text-align: right;
        }

        th {
            color: black;
        }  
    </style>
}
@section Scripts {
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dataTables")   
<script>
          $(document).ready(function () {
              $('#data_1 .input-group.date').datepicker({
                  todayBtn: "linked",
                  locale: 'es',
                  keyboardNavigation: false,
                  format: "dd/mm/yyyy",
                  forceParse: false,
                  calendarWeeks: true,
                  autoclose: true
              });             

              $('#BTNfilter').on('click',
                  function () {
                      $('.DataTable').DataTable().clear().destroy();
                      const fecha = document.getElementById("fecha").value;
                      const url = '@Url.Action("_CierreFlujoConsultResult", "Flujo")';

                      var tEntrada = 0;
                      var tSalida = 0;
                      var tSaldoActual = 0;
                      var tSaldoFInal = 0;


                      var lnk_entrada = "" + 0;
                      var lnk_venta = "" + 0;
                      var lnk_devol = "" + 0;
                      var lnk_merma = "" + 0;

                      $.getJSON(url,
                          { fecha: fecha },
                          function (data) {
                              if (data.length > 0) {
                                  if (data[0].area !== "CIERRE") {
                                      $('#BTNCierre').show();
                                  } else {
                                      $('#BTNCierre').hide();
                                      $('.DataTable').append('<tr><td>YA</td><td>EXISTE CIERRE</td><td>EN EL DIA</td><td>ESPECIFICADO</td><td>ACTUALICE</td><td>SALDO</td><td>EN SU LUGAR</td></tr>');
                                      return false;
                                  }
                              }
                              $.each(data,
                                  function (i, item) {

                                      $('.DataTable').append('<tr><td>' + item.area + '</td><td class="text-navy" style="width: 7%;">' +
                                          '<ul id="Ent' + item.areaID + '"></ul></td > ' +
                                          '<td><ul id="CEnt' + item.areaID + '"></ul></td>' +
                                          '<td class="text-warning"> <ul id="Sal' + item.areaID + '"></ul></td> ' +
                                          '<td><ul id="CSal' + item.areaID + '"></ul></td>' +
                                          '<td><strong>' + item.saldo.toFixed(2) + '</strong></td>' +
                                          '<td><strong>' + item.saldoFinal.toFixed(2) + '</strong></td></tr>');

                                      $.each(item.listentrada, function (i, obj) {
                                          $("#Ent" + item.areaID).append(`<li><strong> ${obj} </strong></li>`)
                                      });

                                      $.each(item.conceptoEntrada, function (i, obj) {
                                          $("#CEnt" + item.areaID).append(`<li> ${obj} </li>`)
                                      });

                                      $.each(item.listsalida, function (i, obj) {
                                          $("#Sal" + item.areaID).append(`<li><strong> ${obj} </strong></li>`)
                                      });

                                      $.each(item.conceptoSalida, function (i, obj) {
                                          $("#CSal" + item.areaID).append(`<li> ${obj} </li>`)
                                      });

                                      tEntrada += item.entrada;
                                      tSalida += item.salida;
                                      tSaldoActual += item.saldo;
                                      tSaldoFInal += item.saldoFinal;
                                  });

                              if (data.length > 0) {
                                  $('.DataTable').append('<tr><td></td><td>TOTAL:<strong>' + tEntrada.toFixed(2) + '</strong></td><td></td><td>TOTAL SALIDA:<strong>' + tSalida.toFixed(2) + '</strong></td><td></td><td>TOTAL:<strong>' + tSaldoActual.toFixed(2) + '</strong></td><td>TOTAL:<strong>' + tSaldoFInal.toFixed(2) + '</strong></td></tr>');
                            }

                              $('.DataTable').DataTable({
                                  pageLength: 100,
                                  dom: '<"html5buttons"B>lTfgitp',
                                  header: true,
                                  order: [[0, "desc"]],
                                  buttons: [
                                      { extend: 'excel', title: 'Cierre fLujo de efectivo: ' + fecha 
                                      },
                                      {
                                          extend: 'print',
                                          text: 'IMPRIMIR',
                                          title: '',
                                          exportOptions:
                                          {
                                              stripHtml: false,
                                              orientation: 'landscape',
                                          },
                                          orientation: 'landscape',
                                          className: 'btn btn-info',
                                          customize: function (win) {
                                              $(win.document.body).addClass('white-bg');
                                              $(win.document.body).css('font-size', '12px');
                                              $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
                                          }
                                      }
                                  ], language: {
                                      info: "Mostrando _START_ de _TOTAL_ registros",
                                      infoFiltered: '(filtrado de _MAX_ registros totales)',
                                      search: "Buscar:",
                                      paginate: {
                                          first: "Primero",
                                          last: "Último",
                                          next: "Siguiente",
                                          previous: "Anterior",
                                      },
                                  }
                              });
                          });
                  });

              $('#BTNCierre').on('click',
                  function () {
                      $('#BTNCierre').hide();
                      $('.DataTable').DataTable().clear().destroy();
                      const fecha = document.getElementById("fecha").value;
                      const url = '@Url.Action("_CierreFlujoResult", "Flujo")';

                      var tEntrada = 0;
                      var tSalida = 0;
                      var tSaldoActual = 0;
                      var tSaldoFInal = 0;

                      var lnk_entrada = "" + 0;
                      var lnk_venta = "" + 0;
                      var lnk_devol = "" + 0;
                      var lnk_merma = "" + 0;

                      $.getJSON(url,
                          { fecha: fecha },
                          function (data) {
                              $.each(data,
                                  function (i, item) {

                                      $('.DataTable').append('<tr><td>' + item.area + '</td><td class="text-navy" style="width: 7%;">' +
                                          '<ul id="Ent' + item.areaID + '"></ul></td > ' +
                                          '<td><ul id="CEnt' + item.areaID + '"></ul></td>' +
                                          '<td class="text-warning"> <ul id="Sal' + item.areaID + '"></ul></td> ' +
                                          '<td><ul id="CSal' + item.areaID + '"></ul></td>' +
                                          '<td><strong>' + item.saldoFinal.toFixed(2) + '</strong></td>' +
                                          '<td><strong>' + item.saldoFinal.toFixed(2) + '</strong></td></tr>');

                                      $.each(item.listentrada, function (i, obj) {
                                          $("#Ent" + item.areaID).append(`<li><strong> ${obj} </strong></li>`)
                                      });

                                      $.each(item.conceptoEntrada, function (i, obj) {
                                          $("#CEnt" + item.areaID).append(`<li> ${obj} </li>`)
                                      });

                                      $.each(item.listsalida, function (i, obj) {
                                          $("#Sal" + item.areaID).append(`<li><strong> ${obj} </strong></li>`)
                                      });

                                      $.each(item.conceptoSalida, function (i, obj) {
                                          $("#CSal" + item.areaID).append(`<li> ${obj} </li>`)
                                      });

                                      tEntrada += item.entrada;
                                      tSalida += item.salida;
                                      tSaldoActual += item.saldo;
                                      tSaldoFInal += item.saldoFinal;
                                  });

                              if (data.length > 0) {
                                  $('.DataTable').append('<tr><td></td><td>TOTAL:<strong>' + tEntrada.toFixed(2) + '</strong></td><td></td><td>TOTAL SALIDA:<strong>' + tSalida.toFixed(2) + '</strong></td><td></td><td>TOTAL:<strong>' + tSaldoFInal.toFixed(2) + '</strong></td><td>TOTAL:<strong>' + tSaldoFInal.toFixed(2) + '</strong></td></tr>');
                              }

                              $('.DataTable').DataTable({
                                  pageLength: 100,
                                  dom: '<"html5buttons"B>lTfgitp',
                                  header: true,
                                  order: [[0, "desc"]],
                                  buttons: [
                                      { extend: 'excel', title: 'Cierre fLujo de efectivo: ' + fecha },
                                      {
                                          extend: 'print',
                                          customize: function (win) {
                                              $(win.document.body).addClass('white-bg');
                                              $(win.document.body).css('font-size', '12px');
                                              $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
                                          }
                                      }
                                  ], language: {
                                      info: "Mostrando _START_ de _TOTAL_ registros",
                                      infoFiltered: '(filtrado de _MAX_ registros totales)',
                                      search: "Buscar:",
                                      paginate: {
                                          first: "Primero",
                                          last: "Último",
                                          next: "Siguiente",
                                          previous: "Anterior",
                                      },
                                  }
                              });
                          });
                  });
          });

          $(document).ajaxStart(function () {
              $('#ajaxLoader').show();

          });

          $(document).ajaxComplete(function () {
              $('#ajaxLoader').hide();
          });
</script>
}