@model vercom.Models.flujo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>flujo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.concepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.concepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_flujo.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_flujo.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
